.hero-button{
    background-color:rgb(241, 1, 1);
    border:none;
    /* padding:5px 20px; */
    color:#fff;
    font-weight: bold;
    
}
.hero-button:hover{
    background-color:rgb(211, 1, 1);
}
.hero-button:active{
    background-color:red;
}