

.hp-main{
    padding: 30px 80px;
    height: 60vh;
    display: flex;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, #d1d1d1 0%, #ffffff 100%);
}
.hp-main .body{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.body >img{
    height: 50vh;
    width: 40vw;
    -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
    border-radius: 15px;
    margin-left: 40px;
    
}
.text {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    max-width: 40rem;
    font-family: "Open Sans";
}
.text h1{
    margin-bottom: 20px;
}
#gray{
    background: linear-gradient(to bottom, #ffffff 0%, #d1d1d1 100%);
}
#gray .body{
    
   
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}
#gray img{
    margin-left: 0;
    margin-right: 40px;
}