

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1000;
  }
  .vid-container{
        margin: 1px 0px;

  }
  #intro-video{
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
  }
  .intro-area>h1 {
    
    font-family: Trebuchet MS;
    font-weight: bold;
    color: black;
  text-align: left;
    
  }


  

  


.testimonials{
  padding: 15px 10px;
  
  
  min-height: 70vh;
  
  width: 100%;
  
}



.caro-inner{
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: red; */
}
.caro-card{
  align-items: center;
  padding: 20px 50px;
  
 
}
.caro-card>img{
  height:20vh ;
  width:30vh; 
}

@media screen and (max-width: 960px){
  .caro-card.long>p{
    font-size: 15px;
  }
  .caro-card{
    padding: 0 0px;
  }
  
}


.pagi-btn{
  background-color: yellow;
}
.caro-card>p{
  color: black;
  font-size: 18px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-top: 0.1rem;
  /* margin-bottom: 0.1rem; */
  text-align: center;
  
}

.caro-card>h2{
  color: black;
  font-size: 1.5vw;
  font-style: bold;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;

}
.caro-card>img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
main {
    
    font-size: 2rem;
    margin-top: 10vh;
    /* padding: 10px; */
    position: relative;
    
  }
  .home-article{
    padding: 20px 40px;
  }
.intro-area{
  padding: 10px 10px 10px 10px;
}  

.intro-area>p{
  font-size: 1.5rem;
  font-weight: normal;
}  

.policy-p{
  margin: 10px 30px;
  font-size:medium;
}